<div [ngSwitch]="score">
  <div *ngSwitchCase="0" class="indicator">
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <div *ngSwitchCase="1" class="indicator">
    <span class="weak active"></span>
    <span></span><span></span><span></span><span></span>
  </div>
  <div *ngSwitchCase="2" class="indicator">
    <span class="weak active"></span>
    <span class="weak active"></span>
    <span></span><span></span><span></span>
  </div>
  <div *ngSwitchCase="3" class="indicator">
    <span class="medium active"></span>
    <span class="medium active"></span>
    <span class="medium active"></span>
    <span></span><span></span>
  </div>
  <div *ngSwitchCase="4" class="indicator">
    <span class="medium active"></span>
    <span class="medium active"></span>
    <span class="medium active"></span>
    <span class="medium active"></span>
    <span></span>
  </div>
  <div *ngSwitchCase="5" class="indicator">
    <span class="strong active"></span>
    <span class="strong active"></span>
    <span class="strong active"></span>
    <span class="strong active"></span>
    <span class="strong active"></span>
  </div>
  <div *ngSwitchDefault class="indicator">
    <span></span><span></span><span></span><span></span><span></span>
  </div>
</div>
